
/*Top Banner*/
.top-banner
{
    background-image: url(/assets/asset\ 29.png);
    background-color: #2294ed;
    background-size: 300px;
}
.banner-text
{
   color: white;
   padding: 15px 30px;
   text-align: center; 
}

/*Navbar*/
.main-nav
{
    margin-top: 20px;
    justify-content: space-between;
}
.company-logo img
{
    width: 200px;
}
.nav-links
{
    font-weight: 400;
    flex-basis: 730px;
}
.nav-links ul
{
    justify-content: end;
    gap: 40px;
}

/*Header*/
.header
{
    padding: 50px var(--padding-inline-section);
}
.header-section
{
    justify-content: center;
    gap: 50px;
}
.header-left
{
    max-width: 40vw;
}
.header-left h1
{
    margin-top: 20px;
}
.header-right img
{
    width: 600px
}
.get-started-button
{
    margin-top: 20px;
}

/*Companies*/



